<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zipline Take Home</title>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js"
      integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10.9.1/dist/mermaid.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 font-sans flex">
    <script>
      function reRenderMermaidGraph(eltId, alpineData) {
        const element = document.getElementById(eltId);
        element.classList.add("mermaid");
        element.removeAttribute("data-processed");
        mermaid.contentLoaded();

        setTimeout(() => {
          element.querySelectorAll(".node").forEach((node) => {
            const nodeName = node.textContent.trim();
            node.setAttribute("hx-get", `/nodes/${nodeName}`);
            node.setAttribute("hx-target", "#node-details");
            node.style.cursor = "pointer";
            htmx.process(node);

            if (alpineData) {
              node.addEventListener("click", (event) => {
                alpineData.nodeDetails = nodeName;
              });
            }
          });
        });
      }

      function showAsLRGraph(event) {
        let response = event.detail.xhr.responseText;
        event.detail.target.innerHTML = "graph LR; " + response;
      }

      function afterRequest(event, mermaidId, alpineData) {
        showAsLRGraph(event);
        reRenderMermaidGraph(mermaidId, alpineData);
      }
    </script>

    <div
      x-data="{ query: '', results: [], clicked: '', nodeDetails: '', focused: false }"
      class="flex flex-grow p-4 max-w-4xl mx-auto"
    >
      <div class="relative flex-grow">
        <input
          x-model="query"
          placeholder="Search for a node in the full graph"
          hx-trigger="click,keyup"
          x-bind:hx-get="`/search?query=${query}`"
          x-effect="query; htmx.process($el);"
          @htmx:after-request.camel="results = JSON.parse(event.detail.xhr.responseText); htmx.process($el);"
          @focus="focused = true"
          @blur="setTimeout(() => focused = false, 200)"
          class="w-full p-2 border rounded-lg bg-white shadow-sm"
        />

        <div
          id="results"
          x-show="focused && results.length > 0"
          class="absolute w-full border rounded-lg bg-white shadow-lg z-10"
          style="max-height: 200px; overflow-y: auto"
        >
          <template x-for="result in results" :key="result">
            <div
              x-text="result"
              @click="clicked = result; focused = false"
              hx-trigger="click"
              hx-target="#mermaid-graph"
              x-bind:hx-get="`/upstream/${result}`"
              x-init="htmx.process($el)"
              @htmx:after-request.camel="afterRequest($event, 'mermaid-graph', $data)"
              class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            ></div>
          </template>
        </div>

        <div
          class="mb-4 p-2 bg-white border rounded-lg mt-4 shadow-sm text-lg font-bold"
        >
          Full Graph
          <pre
            class="mermaid"
            hx-get="/graph"
            hx-trigger="load"
            @htmx:after-request.camel="afterRequest($event, 'full-mermaid-graph')"
          ></pre>
        </div>

        <div
          x-show="clicked"
          class="mb-4 p-2 bg-white border rounded-lg mt-4 shadow-sm"
        >
          <div class="text-lg font-bold">
            Node
            <span x-text="clicked" class="font-bold text-blue-600"></span>
            Upstream Dependencies
          </div>
          <div>Click on a node to view more info</div>
          <pre id="mermaid-graph"></pre>
        </div>
      </div>

      <div
        x-show="nodeDetails"
        class="fixed inset-y-0 right-0 w-1/4 bg-white shadow-lg p-6 overflow-y-auto transform transition-transform"
        :class="{ '-translate-x-full': !nodeDetails }"
      >
        <button
          @click="nodeDetails = ''"
          class="absolute top-4 right-4 w-8 h-8 bg-gray-200 rounded-full flex items-center justify-center hover:bg-gray-300 focus:outline-none"
        >
          <span class="text-lg text-gray-700">×</span>
        </button>
        <div class="text-lg font-bold mb-2">
          Node
          <span x-text="nodeDetails" class="text-blue-600"></span>
          Information
        </div>
        <div
          id="node-details"
          class="whitespace-pre-wrap font-mono bg-gray-100 p-4 border rounded-md border-gray-300 overflow-x-auto"
        ></div>
      </div>
    </div>
  </body>
</html>
