<html>
  <head>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js"
      integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10.9.1/dist/mermaid.min.js"></script>
  </head>
  <body>
    <script>
      function reRenderMermaidGraph(eltId) {
        const element = document.getElementById(eltId);
        element.classList.add("mermaid");
        element.removeAttribute("data-processed");
        mermaid.contentLoaded();
      }

      function showAsLRGraph(event) {
        let response = event.detail.xhr.responseText;
        event.detail.target.innerHTML = "graph LR; " + response;
      }

      function afterRequest(event, mermaidId) {
        showAsLRGraph(event);
        reRenderMermaidGraph(mermaidId);
      }
    </script>

    <div x-data="{ query: '', results: [], clicked: ''}">
      <input
        x-model="query"
        placeholder="Search"
        hx-trigger="click,keyup"
        x-bind:hx-get="`/search?query=${query}`"
        x-effect="query; htmx.process($el);"
        @htmx:after-request.camel="results = JSON.parse(event.detail.xhr.responseText); htmx.process($el);"
      />

      <template x-for="result in results" :key="result">
        <div
          x-text="result"
          @click="clicked = result"
          hx-trigger="click"
          hx-target="#mermaid-graph"
          x-bind:hx-get="`/upstream/${result}`"
          x-init="htmx.process($el)"
          @htmx:after-request.camel="afterRequest($event, 'mermaid-graph')"
        ></div>
      </template>

      <pre id="mermaid-graph"></pre>
    </div>
  </body>
</html>
