<html>
  <head>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js"
      integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10.9.1/dist/mermaid.min.js"></script>
  </head>
  <body>
    <div x-data="{ query: '', results: []}">
      <input
        x-model="query"
        placeholder="Search"
        hx-trigger="click,keyup"
        x-bind:hx-get="`/search?query=${query}`"
        x-effect="query; htmx.process($el);"
        @htmx:after-request.camel="results = JSON.parse(event.detail.xhr.responseText); htmx.process($el);"
      />

      <template x-for="result in results" :key="result">
        <div x-text="result"></div>
      </template>
    </div>
  </body>
</html>
